{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/js/latest/jquery-ui-1.13.1/jquery-ui.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/latest/boostrap-4.6.0/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/latest/tagsinput/bootstrap-tagsinput.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/latest/tagsinput/bootstrap-tagsinput-typeahead.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/latest/frdr-theme.css" type="text/css" />
<link rel="stylesheet" href="/static/fonts/latest/fontawesome-5.15.4/css/all.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/latest/ekko-lightbox-5.1.1/ekko-lightbox.min.css" type="text/css" />

<link rel="shortcut icon" href="/repo/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="180x180" href="/repo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/repo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/repo/favicon-16x16.png">
<link rel="manifest" href="/repo/manifest.json">
<link rel="mask-icon" href="/repo/safari-pinned-tab.svg" color="#d6ab00">
{% endblock %}

{% block scripts %}
<script src="/static/js/latest/jquery/jquery-3.6.0.min.js"></script>
<script src="/static/js/latest/jquery-ui-1.13.1/jquery-ui.min.js"></script>
<script src="/static/js/latest/jquery-ui-1.13.1/jquery.ui.datepicker-fr-CA.js"></script>
<script src="/static/js/latest/boostrap-4.6.0/bootstrap.bundle.min.js"></script>
<script src="/static/js/latest/ekko-lightbox-5.1.1/ekko-lightbox.min.js"></script>

<script src="https://unpkg.com/lunr/lunr.js"></script>

<script type="text/javascript">
let idx;
let docs;
$( document ).ready(function() {
    const searchPath = "/docs/en/search/";

    function handleHeaderSearch() {
        fetch("/docs/en/search/search_index.json")
            .then((res) => res.text())
                .then((text) => {
                    docs = JSON.parse(text);
                    idx = lunr(function () {
                        this.ref('location');
                        this.field('title');
                        this.field('text');
                        this.metadataWhitelist = ['position'];

                        docs["docs"].forEach(function (doc) {
                            this.add(doc)
                        }, this);
                    });
            }).catch((e) => console.error(e));

        function triggerSearch() {
            const term = $("#srch-term-1").val();
            const five = $("#five")
            five.empty();
            if (term.length > 2) {
                fiveSearch(term);
            } else {
                hideFiveSearch();
            }
        }

        $("#srch-term-1").on( "focus", function() {
            triggerSearch();
        });

        $("#fiveContainer").on("keyup", function(event){
            if (event.key === 'Escape') {
                hideFiveSearch();
            }
        });

        $("#srch-term-1").on( "keyup", function(event) {
            if (event.key === 'Escape') {
                hideFiveSearch();
            } else {
                triggerSearch();
            }
        });
    }

    function handleSearchPage() {
        $("#search-header-1").hide();
        $("#search-header-2").hide();
        const params = new Proxy(new URLSearchParams(window.location.search), {
              get: (searchParams, prop) => searchParams.get(prop),
        });
        $("#srch-term").val(params.query ? params.query : "");

        fetch("/docs/en/search/search_index.json")
            .then((res) => res.text())
                .then((text) => {
                    docs = JSON.parse(text);
                    idx = lunr(function () {
                        this.ref('location');
                        this.field('title');
                        this.field('text');
                        this.metadataWhitelist = ['position'];

                        docs["docs"].forEach(function (doc) {
                            this.add(doc)
                        }, this);
                    });
                    allSearch(params.offset);
            }).catch((e) => console.error(e));
    }

    if (searchPath === window.location.pathname) {
        handleSearchPage();
    } else {
        handleHeaderSearch();
    }
});

function getResults(searchTerm) {
    let results = idx.search(searchTerm);
    let fullResults = results.map((item) => {
        let doc = docs["docs"].find((doc) => item.ref === doc.location);
        item["title"] = doc["title"];
        item["text"] = doc["text"];
        return item;
    })
    return fullResults;
}

function hideFiveSearch() {
    let fiveContainer = $("#fiveContainer");
    fiveContainer.addClass("d-none");

    let main = $(".md-container");
    main.css('opacity','1.0');
    main.css('background-color','white');
}

function setViewAllUrl(term) {
    let viewAllLink = $("#view_all_search_link");
    viewAllLink.attr('href', "/docs/en/search/?query=" + term);
}

// Returns the URL for a page without any anchors
function getPageRef(match) {
    return match["ref"].split("#")[0];
}

function fiveSearch(searchTerm) {
    let main = $(".md-container");
    main.css('opacity','0.25');
    main.css('background-color','gray');

    let results = getResults(searchTerm);
    let five = $("#five")
    let fiveContainer = $("#fiveContainer");

    setViewAllUrl(searchTerm);

    let pageTotal = 0;
    if (results.length > 0) {
        let pages = {};
        for (let j = 0; j < results.length; j++) {
            let pageRef = getPageRef(results[j]);
            if (!pages[pageRef]) {
                pages[pageRef] = 1;
            } else {
                pages[pageRef] = pages[pageRef] + 1;
            }
        }
        pageTotal = Object.keys(pages).length

        for (let i = 0; i < results.length && i < 5; i++) {
            let match = markTitle(results[i]);
            match = markText(match);
            console.log(match);
            // five.append("<div><a href=\"" + results[i]["ref"] + "\">" + results[i]["title"] + "</a>" + "<div>" + results[i]["text"] + "</div>" +  "</div>");
            console.log(match["titleMatched"]);
                five.append("<a class=\"quick_search\" href=\"" + getRefURL(results[i]) + "\"><div>" + match["title"] + "</div>" + "<div>" + match["text"]  + "</div>" + "</a>");
                five.append("<hr/>")
        }
    }

    $(".quick_search").on( "click", function() {
        hideFiveSearch();
        return true;
    });

    $("#fiveTotal").text(pageTotal);

    fiveContainer.removeClass("d-none");
}

function getPageIndex(page, pages) {
    for (let i = 0; i < pages.length; i++) {
        if (pages[i]["url"] === page) {
            return i;
        }
    }
    let new_page = {};
    new_page["url"] = page;
    new_page["matches"] = [];
    pages.push(new_page);
    return pages.length - 1;
}

function getPageName(page) {
    let anchor = page.indexOf("#");
    if (anchor > 0) {
        return page.substring(0, anchor);
    } else {
        return page;
    }
}

const limit = 20;

function getLink(offset) {
    let searchTerm = document.getElementById("srch-term").value;
    return window.location.pathname + "?offset=" + offset + "&query=" + searchTerm;
}

function addPrevNextLinks(start, end, total) {
    const prevText = "<< Previous";
    const nextText = "Next >>";

    let prev = document.getElementById("prev");
    let next = document.getElementById("next");
    if (start > 0) {
        let prevOffset = start - limit < 0 ? 0 : start - limit;
        prev.innerHTML = "<a href='" + getLink(prevOffset) + "'>" + prevText + "</a>";
    } else {
        prev.innerHTML = prevText;
    }

    console.log(end);
    console.log(total);

    if (end < total) {
        next.innerHTML = "<a href='" + getLink(start + limit) + "'>" + nextText + "</a>";
    } else {
        next.innerHTML = nextText;
    }
}

function allSearch(offset) {
    let searchTerm = document.getElementById("srch-term").value;
    if (!searchTerm) {
        return;
    }
    let results = getResults(searchTerm);
    let pages = [];
    for (let i = 0; i < results.length; i++) {
        let page = getPageName(results[i]["ref"]);
        let index = getPageIndex(page, pages);
        pages[index]["matches"].push(results[i]);
    }

    offset  = Number.parseInt(offset, 10);
    if (Number.isNaN(offset)) {
        offset = 0;
    }

    let all = document.getElementById("all")
    let allCounts = document.getElementById("allCounts")

    let start = offset ? offset : 0;
    let end = pages.length < limit + offset ? pages.length : limit + offset;
    allCounts.innerHTML = "<strong>" + (start + 1) + "-" + end + "</strong>" + " of " + "<strong>" + pages.length + "</strong>";

    addPrevNextLinks(start, end, pages.length);

    while (all.lastElementChild) {
        all.removeChild(all.lastElementChild);
    }

    for (let i = start; i < end; i++)
    {
        addMatch(pages[i], all);
        if (i < end) {
            let hr = document.createElement("hr");
            all.append(hr);
        }
    }
};

function addMatch(page, parentElement) {
    let div = document.createElement("div");
    let link = document.createElement("a");
    let url = page["url"];
    let full = "/docs/en/" + url;
    let title = url
    // let text = page["matches"][0]["text"];

    let first = page["matches"][0];

    let titleMatches = [];
    let textMatches = [];

    link.href = full;
    link.innerHTML = "<h1>" + title + "</h1>";
    div.append(link);

    // matchData -> term -> text or title -> position -> [0] start, [1] length
    /**
    for (const[key, value] of Object.entries(result["matchData"]["metadata"])) {
        if (value["title"] && value["title"]["position"]) {
            for (let i = 0; i < value["title"]["position"].length; i++) {
                titleMatches.push(value["title"]["position"][i]);
            }
        }
        if (value["text"] && value["text"]["position"]) {
            for (let i = 0; i < value["text"]["position"].length; i++) {
                textMatches.push(value["text"]["position"][i]);
            }
        }

    }
    **/

    addMatchPanel(first, div);

    if (page["matches"].length > 1) {
        let collapseID = url.replace("/", "-") + '-Collapse';
        let collapseBtn = document.createElement("div");
        collapseBtn.innerHTML = '<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#' + collapseID + '" aria-expanded="false" aria-controls="collapseExample">Show ' + page["matches"].length + ' more on same page</button>';

        let collapseDiv = document.createElement("div");
        collapseDiv.id = collapseID;
        collapseDiv.classList.add("collapse");

        for (let i = 1; i < page["matches"].length; i++) {
            addMatchPanel(page["matches"][i], collapseDiv);
        }

        div.append(collapseBtn);
        div.append(collapseDiv);
    }
    parentElement.append(div);
}

function getRefURL(match) {
    return "/docs/en/" + match["ref"];
}

function addMatchPanel(match, parentElement) {
    let matchDiv = document.createElement("div");
    let titleA = document.createElement("a");
    let textDiv = document.createElement("div");
    match = markTitle(match);
    match = markText(match);

    titleA.href = getRefURL(match);
    titleA.innerHTML = "<div>" + match["titleMatched"]  + "</div>";
    matchDiv.append(titleA);

    textDiv.innerHTML = match["textMatched"];
    matchDiv.append(textDiv);

    parentElement.append(matchDiv);
}

function markTitle(matches) {
    return markField("title", matches);
}

function markText(matches) {
    return markField("text", matches);
}
function markField(field, matches) {
    if (!matches) {
        return matches;
    }
    if (!matches[field]) {
        return matches;
    }
    matches[field + "Matched"] = matches[field];

    if (!matches["matchData"] || !matches["matchData"]["metadata"] || Object.keys(matches["matchData"]["metadata"]).length < 1) {
        return matches;
    }

    // Match all terms
    Object.keys(matches["matchData"]["metadata"]).forEach(function(term){
        let fieldMatches = matches["matchData"]["metadata"][term][field];
        if (fieldMatches) {
            let fieldValue = matches[field];
            if (fieldValue && fieldMatches && fieldMatches["position"].length > 0) {
                matches[field + "Matched"] = markMatches(fieldMatches["position"], fieldValue)
            }
        }
    });
    return matches;
}

function markMatches(matchesArray, input) {
    if (matchesArray && matchesArray.length > 0) {
        let output = input;
        // We need to start at the end so that we don't shift the 
        // start character for each match
        for(let i = matchesArray.length - 1; i >= 0; i--) {
            let start = matchesArray[i][0];
            let length = matchesArray[i][1];
            let prefix = input.substring(0, start);
            let match = input.substring(start, start + length);
            let suffix = input.substring(start + length);
            output = prefix + "<mark>" + match + "</mark>" + suffix;
        }
        return output;
    } else {
        // We don't have any matches so return original
        return input;
    }
}

</script>
{% endblock %}
