<!DOCTYPE html>
<html lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}" xml:lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="{{ config.extra.repo_url }}/static/css/jquery-ui-1.10.3.custom/redmond/jquery-ui-1.10.3.custom.css" type="text/css">
        <link rel="stylesheet" href="{{ config.extra.repo_url }}/static/css/bootstrap/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{ config.extra.prefix }}css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="{{ config.extra.repo_url }}/static/css/bootstrap/dspace-theme.css" type="text/css">
        <script type="text/javascript" src="{{ config.extra.repo_url }}/static/js/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ config.extra.repo_url }}/static/js/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="{{ config.extra.repo_url }}/static/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ config.extra.repo_url }}/static/js/frdr-site.js"></script>
        <script type="text/javascript" src="{{ config.extra.repo_url }}/utils.js"></script>
        <script type="text/javascript" src="{{ config.extra.repo_url }}/static/js/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
    </head>
    <body id="content" onload="checkForHashOnLoad(-64)">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-target="#navbar-collapse-1" data-toggle="collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{config.extra.repo_url}}?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}"><span class="navbar-highlight"><img src="{% if '/en/' in page.canonical_url %}{{ config.extra.prefix }}img/sitelogo_en.png{% else %}{{ config.extra.prefix }}img/sitelogo_fr.png{% endif %}" style="max-height:44px" alt="FRDR-DFDR"></span></a>
              <div class="navbar-brand demo-text" style="display:none;font-size:24px;padding-top:25px;color:#537eec;font-weight:400;"> DEMO </div>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapse-1" uib-collapse="isCollapsed" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                    <a href="." class="dropdown-toggle" data-toggle="dropdown">{% if '/en/' in page.canonical_url %}EN{% else %}FR{% endif %}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% if '/en/' in page.canonical_url %}.{% elif config.extra.language_map.fr[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.fr[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_en}}{% endif %}">English</a></li>
                        <li><a href="{% if '/fr/' in page.canonical_url %}.{% elif config.extra.language_map.en[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.en[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_fr}}{% endif %}">Français</a></li>
                    </ul>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="{% if '/en/' in page.canonical_url %}/docs/en/about/{% else %}/docs/fr/a_propos/{% endif %}">{% if '/en/' in page.canonical_url %}About{% else %}À propos{% endif %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="/repo/PublishDashboard?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">{% if '/en/' in page.canonical_url %}Deposit Data{% else %}Déposer des données{% endif %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="mailto:support@frdr-dfdr.ca">{% if '/en/' in page.canonical_url %}Feedback{% else %}Commentaires{% endif %}</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    <div class="container row">
        <div class="col-md-3 frdr-sidebar">
        {% if nav|length>1 %}
            <ul>
            {% for nav_item in nav %}
                {% if 'En' in nav_item.title and '/en/' in page.canonical_url %}
                    {% for nav_item in nav_item.children %}
                        <li class="{% if nav_item.active%}current{%endif%}">
                            <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                            {% if nav_item.active %}
                            <ul>
                                {% for toc_item in page.toc %}
                                        <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% for toc_item in toc_item.children %}
                                            <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% for toc_item in toc_item.children %}
                                                <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% endfor %}
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                {% elif 'Fr' in nav_item.title and '/fr/' in page.canonical_url %}
                    {% for nav_item in nav_item.children %}
                        <li class="{% if nav_item.active%}current{%endif%}">
                            <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                            {% if nav_item.active %}
                            <ul>
                                {% for toc_item in page.toc %}
                                        <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% for toc_item in toc_item.children %}
                                            <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    <div class="col-md-9">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
    </div>
    </div>
    <div class="jumbotron frdr-jumbo-footer">
        <div class="container">
            <div class="col-md-4">
                <footer>
                  {% if '/en/' in page.canonical_url %}
                  <p><a href="{{ config.site_url }}en/privacy_policy">Privacy Policy</a></p>
                  <p>&copy; 2017 - 2019 Canadian Association of Research Libraries and Compute Canada</p>
                  {% else %}
                  <p><a href="{{ config.site_url }}fr/conditions_d'utilisation/#70-politique-de-confidentialite">Politique de confidentialité</a></p>
                  <p>&copy; 2017 - 2019 Association des bibliothèques de recherche du Canada & Calcul Canada</p>
                  {% endif %}
                </footer>
            </div>
            <div class="col-md-8">
                <a href="{% if '/en/' in page.canonical_url %}https://portagenetwork.ca/{% else %}https://portagenetwork.ca/fr/{% endif %}" target="_blank"><img alt="Portage" src="/repo/image/portage_logo.png"></a>
                <a href="{% if '/en/' in page.canonical_url %}http://www.carl-abrc.ca/{% else %}http://www.carl-abrc.ca/fr/{% endif %}" target="_blank"><img alt="CARL" src="/repo/image/logo_carl_enfr.png"></a>
                <a href="{% if '/en/' in page.canonical_url %}http://www.computecanada.ca/{% else %}https://www.computecanada.ca/?lang=fr{% endif %}" target="_blank"><img alt="Compute Canada" src="/repo/image/logo_cc_enfr.png"></a>
                <a href="http://www.globus.org/" target="_blank"><img alt="Globus" src="/repo/image/globus_logo.png"></a>
            </div>
        </div>
    </div>
    </body>
<script>
  // Show all demo tagged divs if we are in demo environment
  if (window.location.href.indexOf("demo") != -1) {
    var demodivs = document.getElementsByClassName("demo-text");
    for (i = 0; i < demodivs.length; i++) {
      demodivs[i].style.display = "inline";
    }
  }
</script>
 <!-- Google Analytics -->
 <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','_gaTracker');
    window.ga_debug= {trace: true};
 </script>
 <script>
    _gaTracker('create', googleanalytics_tracking_id, {'cookieDomain': googleanalytics_cookie_domain });
    _gaTracker('send', 'pageview');    
 </script>
 <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
 </script>
</html>
