<link rel="stylesheet" href="/static/css/latest/frdr-theme.css">

<header id="header" class="header affix" style="z-index: 1;" aria-label="Site header" data-toggle="affix" data-once="affixed">
  <nav class="navbar navbar-dark navbar-expand-lg">

    <div class="container">
      <a href="https://dev6-web-c1.frdr.ca/repo/"><span class="navbar-highlight"><img src="/static/images/latest/logos/FRDR_acronym_english_reversed.svg" id="brandlogo" alt="FRDR-DFDR"></span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">

        <div class="container navbar-up">
            <div id="search-header-1">
              <div class="input-group d-none d-lg-flex">
                <label for="srch-term-1" class="d-none">Search docs</label>
                <input type="text" class="search_bar form-control" placeholder="Search docs" name="query" id="srch-term-1" style="font-size: 14px;" aria-label="Search for datasets">
                <span class="input-group-append">
                  <button class="btn search-button" type="submit" aria-label="Submit search">
                    <span class="fas fa-search" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>

            <a class="btn alliance-btn-secondary lang-btn d-none d-lg-block" id="nav_switch_fr" href="/docs/fr/">Français</a>
        </div>

        <div id="fiveContainer" class="d-none" style="color: #495057; background-color: #fff; top: 41.8px; width: 756.8px; position: absolute; z-index: 1; overflow-x: hidden; overflow-y: scroll; scroll-behavior: smooth; height: calc(100vh - 100px); border-top-left-radius: 6px; border-bottom-left-radius: 6px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
          <div class="card mb-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col alert alert-secondary ml-2 mr-2">
                          <span id="fiveTotal"></span>
                          <span>matching pages</span>
                      </div>
                  </div>
                  <div id="five" class="" style="">
                  </div>
                  <div class="row">
                      <div class="col">
                          <a class="btn btn-primary" id="view_all_search_link" href="">View All</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <ul class="nav navbar-nav">
          <li class="nav-item d-lg-none">
            <div id="search-header-2">
              <div class="input-group">
                <input type="hidden" name="lang" id="srch-lang" value="en">               
                <label for="srch-term-2" class="d-none">Search for datasets</label>
                <input type="text" class="search_bar form-control" placeholder="Search for datasets" name="query" id="srch-term-2" style="font-size: 14px;">
                <span class="input-group-append">
                  <button class="btn search-button" type="submit" aria-label="Submit search">
                    <span class="fas fa-search" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="btn alliance-btn-secondary lang-btn d-block mt-2 mb-2" id="nav_switch_fr" href="#" onclick="$('#repostlocale').val('fr'); $('#repostform').trigger('submit');">Français</a>
          </li>

          <li class="nav-item">
              <a href="/repo/PublishDashboard?locale=en">Deposit Data</a>
          </li>

          <li class="nav-item">
              <a href="/docs/en/">Documentation</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="/docs/en/our_mission/">Our mission</a></li>
              <li class="dropdown-item"><a href="/docs/en/our_features/">Our features</a></li>
              <li class="dropdown-item"><a href="/docs/en/our_governance/">Our governance</a></li>
              <li class="dropdown-item"><a href="/docs/en/our_team/">Our team</a></li>
              <li class="dropdown-item"><a href="/docs/en/our_partners/">Our partners</a></li>
              <li class="dropdown-item"><a href="/docs/en/our_journey/">Our journey</a></li>
            </ul>
          </li>

            <li class="nav-item">
              <a href="/stats/en/">Metrics</a>
            </li>

            <li class="nav-item">
              <a href="/repo/contactus">Contact Us</a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Account"><span aria-hidden="true" class="far fa-user"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-item"><a role="menuitem" href="/repo/settings/profile">Settings</a></li>
                    <li role="separator" class="dropdown-divider"></li>
                    <li class="dropdown-item"><a role="menuitem" href="/repo/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



