<!DOCTYPE html>
<html lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}" xml:lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="/static/js/latest/jquery-ui-1.12.1/jquery-ui.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/latest/boostrap-4.6.0/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/latest/frdr-theme.css" type="text/css"/>
        <link rel="stylesheet" href="{{ config.extra.prefix }}css/docs-theme.css" type="text/css"/>
        <script type="text/javascript" src="/static/js/latest/jquery/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/js/latest/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/latest/boostrap-4.6.0/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/latest/ekko-lightbox-5.1.1/ekko-lightbox.js"></script>
    </head>
    <body id="content" onload="checkForHashOnLoad(-64)">
        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-xl">

            <a class="navbar-brand" href="{{config.extra.repo_url}}?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}"><span class="navbar-highlight"><img src="/static/images/latest/logos/{% if '/en/' in page.canonical_url %}sitelogo_en.png{% else %}sitelogo_fr.png{% endif %}" style="max-height:44px" alt="FRDR-DFDR"/></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                    <a href="." class="dropdown-toggle" data-toggle="dropdown">{% if '/en/' in page.canonical_url %}EN{% else %}FR{% endif %}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if '/en/' in page.canonical_url %}
                        <li class="dropdown-item"><a role="menuitem" href="{% if config.extra.language_map.en[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.en[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_fr}}{% endif %}">Français</a></li>
                        {% else %}
                        <li class="dropdown-item"><a role="menuitem" href="{% if config.extra.language_map.fr[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.fr[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_en}}{% endif %}">English</a></li>
                        {% endif %}
                    </ul>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                    {% if '/en/' in page.canonical_url %}
                        <a href="/docs/en/about/">About</a>
                    {% else %}
                        <a href="/docs/fr/à_propos/">À propos</a>
                    {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if '/en/' in page.canonical_url %}Help{% else %}Aide{% endif %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      {% if '/en/' in page.canonical_url %}
                      <li class="dropdown-item"><a role="menuitem" href="/docs/en/before_depositing/">Get An Account</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="/docs/en/documentation/">Documentation</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="/policies/en/">Policies</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="https://www.youtube.com/watch?v=U4Qaia4KZAU&list=PLX9EpizS4A0suoSV2N0nn9parl96xHPkz" target="_blank" rel="noopener noreferrer">Video Tutorials</a></li>
                      {% else %}
                      <li class="dropdown-item"><a role="menuitem" href="/docs/fr/avant_de_déposer/">Obtenez un compte</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="/docs/fr/documentation/">Documentation</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="/policies/fr/">Politiques</a></li>
                      <li class="dropdown-item"><a role="menuitem" href="https://www.youtube.com/watch?v=U4Qaia4KZAU&list=PLX9EpizS4A0suoSV2N0nn9parl96xHPkz" target="_blank" rel="noopener noreferrer">Tutoriels vidéos</a></li>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="/repo/PublishDashboard?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">{% if '/en/' in page.canonical_url %}Deposit Data{% else %}Déposer des données{% endif %}</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if '/en/' in page.canonical_url %}Account {% else %}Compte{% endif %}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/repo/profile">{% if '/en/' in page.canonical_url %}Profile{% else %}Profil{% endif %}</a></li>

{% if '/en/' in page.canonical_url %}{% else %}{% endif %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-item">
                            <a href="/repo/logout"> {% if '/en/' in page.canonical_url %}Log Out{% else %}Déconnexion{% endif %} </a>
                        </li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="{% if '/en/' in page.canonical_url %}/repo/contactus{% else %}/repo/contactus?locale=fr{% endif %}">{% if '/en/' in page.canonical_url %}Contact Us{% else %}Contactez-nous{% endif %}</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    <div class="container row">
        {% if nav|length>1 and not page.meta.hidesidebar %}
        <div class="col-md-3 frdr-sidebar">
            <ul>
            {% for nav_item in nav %}
                {% if 'En' in nav_item.title and '/en/' in page.canonical_url %}
                    {% for nav_item in nav_item.children %}
                        <li class="{% if nav_item.active%}current{%endif%}">
                            <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                            {% if nav_item.active %}
                            <ul id="current">
                                {% for toc_item in page.toc %}
                                        <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% for toc_item in toc_item.children %}
                                            <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% for toc_item in toc_item.children %}
                                                <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% endfor %}
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                {% elif 'Fr' in nav_item.title and '/fr/' in page.canonical_url %}
                    {% for nav_item in nav_item.children %}
                        <li class="{% if nav_item.active%}current{%endif%}">
                            <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                            {% if nav_item.active %}
                            <ul>
                                {% for toc_item in page.toc %}
                                        <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% for toc_item in toc_item.children %}
                                            <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="col-md-3"></div>
        {% endif %}
    <div class="col-md-9">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
    </div>
    </div>

    <div class="frdr-jumbo-footer">
      <div class="container">
        <div class="col-12" style="text-align:center">
        <a href="{% if '/en/' in page.canonical_url %}https://portagenetwork.ca/{% else %}https://portagenetwork.ca/fr/{% endif %}" rel="noopener noreferrer" target="_blank"><img alt="Portage" src="/static/images/logos/portage_logo.png"></a>
        <a href="{% if '/en/' in page.canonical_url %}https://engagedri.ca/{% else %}https://engagedri.ca/fr/{% endif %}" rel="noopener noreferrer" target="_blank"><img alt="New Digital Research Infrastructure Organization" src="/static/images/logos/logo_ndrio.png"></a>
        <a href="{% if '/en/' in page.canonical_url %}http://www.computecanada.ca/{% else %}https://www.computecanada.ca/?lang=fr{% endif %}" rel="noopener noreferrer" target="_blank"><img alt="Compute Canada" src="/static/images/logos/logo_cc_enfr.png"></a>
        <a href="http://www.globus.org/" rel="noopener noreferrer" target="_blank"><img alt="Globus" src="/static/images/logos/globus_logo.png" width="140px"></a>
        </div>
      </div>
      <div class="container">
        <div class="col-12">
        <footer>
          <br>
          {% if '/en/' in page.canonical_url %}
          &copy; 2017 - 2021 New Digital Research Infrastructure Organization and Compute Canada<br/>
          Compute Canada and NDRIO respect the privacy of individuals and will only collect, use, and disclose Personal Information in keeping with information access and privacy law.<br/>
          <a href="/policies/en/privacy/">Privacy Policy</a>
          {% else %}
          &copy; 2017 - 2021 Nouvelle organisation d’infrastructure de recherche numérique & Calcul Canada<br/>
          Calcul Canada et NOIRN respectent la vie privée des personnes et ne collecteront, utiliseront et ne divulgueront les renseignements personnels que dans le respect des lois sur l'accès à l'information et la protection de la vie privée.<br/>
          <a href="/policies/fr/confidentialité/">Politique de confidentialité</a>
          {% endif %}
        </footer>
        </div>
      </div>
    </div>

    </body>
<script>
  // Show all demo tagged divs if we are in demo environment
  if (window.location.href.indexOf("demo") != -1) {
    var demodivs = document.getElementsByClassName("demo-text");
    for (i = 0; i < demodivs.length; i++) {
      demodivs[i].style.display = "inline";
    }
  }
</script>
<script>
    $(document).ready(function() {
        if (window.location.href.includes("hidenav")) {
            $("nav").hide();
            $("#content" ).each(function () {
                this.style.setProperty( 'padding-top', '0px', 'important' );
                this.style.setProperty( 'margin-top', '0px', 'important' );
            });
        }

        if (window.location.href.includes("hidesidebar")) {
            $(".frdr-sidebar").hide();
        }

        if (window.location.href.includes("hidefooter")) {
            $(".frdr-jumbo-footer").hide();
        }

        // Always show a way for the user to close the lightbox.
        $(".screenshot-lightbox").click(function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });
    });
</script>
</html>
