<!DOCTYPE html>
<html lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}" xml:lang="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/boostrap-4.6.0/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/frdr-theme.css" type="text/css"/>
        <link rel="stylesheet" href="{{ config.extra.prefix }}css/docs-theme.css" type="text/css"/>
        <link rel="stylesheet" href="/static/fonts/latest/fontawesome-5.15.4/css/all.min.css" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/boostrap-4.6.0/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/ekko-lightbox-5.1.1/ekko-lightbox.js"></script>
        <script src="/webstats/js/script.js" data-api="/webstats/api/event" data-domain="{{ config.plausible_domain }}" defer></script>
    </head>
    <body id="content">
        <a class="sr-only sr-only-focusable" href="#main-content">{% if '/en/' in page.canonical_url %}Skip Navigation{% else %}Sauter la navigation{% endif %}</a>
        <header id="header" class="header affix" aria-label="Site header" data-toggle="affix" data-once="affixed">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <a class="navbar-brand" href="{{config.extra.repo_url}}?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}"><span class="navbar-highlight"><img src="/static/images/logos/{% if '/en/' in page.canonical_url %}FRDR_acronym_english_reversed.svg{% else %}FRDR_acronym_french_reversed.svg{% endif %}"  id="brandlogo" alt="FRDR-DFDR"/></span></a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">

                    <div class="container navbar-up">

                        <!-- Search bar on larger screen -->
                        <form action="{{config.extra.repo_url}}{{config.extra.frdr_search_relative_url}}" method="get">
                            <div class="input-group d-none d-lg-flex">
                                <input type="hidden" name="lang" id="srch-lang" value="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">               
                                <label for="srch-term" class="d-none"></label>
                                <input type="text" class="search_bar form-control" placeholder="{% if '/en/' in page.canonical_url %}Search for datasets{% else %}FR Search for datasets{% endif %}" name="query" id="srch-term"  style="font-size: 14px;">
                                <span class="input-group-append">
                                <button class="btn search-button" type="submit">
                                    <span class="fas fa-search" aria-hidden="true"></span>
                                </button>
                                </span>
                            </div>
                        </form>

                        <!-- Locale on larger screen -->
                        {% if '/en/' in page.canonical_url %}
                            <a class="btn alliance-btn-secondary lang-btn d-none d-lg-block" id="nav_switch_fr" href="{% if config.extra.language_map.en[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.en[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_fr}}{% endif %}" >Français</a>
                        {% else %}
                            <a class="btn alliance-btn-secondary lang-btn d-none d-lg-block" id="nav_switch_en" href="{% if config.extra.language_map.fr[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.fr[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_en}}{% endif %}" >English</a>
                        {% endif %}
                    </div>
                    
                    <ul class="nav navbar-nav">
                        
                        <!-- Search bar on smaller screen -->
                        <li class="nav-item d-lg-none">
                            <form action="{{config.extra.repo_url}}{{config.extra.frdr_search_relative_url}}" method="get">
                                <div class="input-group">
                                    <input type="hidden" name="lang" id="srch-lang" value="{% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">               
                                    <label for="srch-term" class="d-none"></label>
                                    <input type="text" class="search_bar form-control" placeholder="{% if '/en/' in page.canonical_url %}Search for datasets{% else %}FR Search for datasets{% endif %}" name="query" id="srch-term"  style="font-size: 14px;">
                                    <span class="input-group-append">
                                    <button class="btn search-button" type="submit">
                                        <span class="fas fa-search" aria-hidden="true"></span>
                                    </button>
                                    </span>
                                </div>
                            </form>                            
                        </li>

                        <!-- Locale on smaller screen -->
                        <li class="nav-item d-lg-none">
                            {% if '/en/' in page.canonical_url %}
                                <a class="btn alliance-btn-secondary lang-btn d-block mt-2 mb-2" id="nav_switch_fr" href="{% if config.extra.language_map.en[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.en[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_fr}}{% endif %}" >Français</a>
                            {% else %}
                                <a class="btn alliance-btn-secondary lang-btn d-block mt-2 mb-2" id="nav_switch_en" href="{% if config.extra.language_map.fr[page.title] is defined %}{{ config.site_url }}{{ config.extra.language_map.fr[page.title] }}{% else %}{{ config.site_url }}{{config.extra.default_page_en}}{% endif %}" >English</a>
                            {% endif %}
                        </li>

                        <!-- Publish Dashboard  -->
                        <li class="nav-item">
                            <a href="/repo/PublishDashboard?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">{% if '/en/' in page.canonical_url %}Deposit Data{% else %}Déposer des données{% endif %}</a>
                        </li>

                        <!-- Account -->
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if '/en/' in page.canonical_url %}Account {% else %}Compte{% endif %}</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="/repo/settings/profile?locale={% if '/en/' in page.canonical_url %}en{% else %}fr{% endif %}">{% if '/en/' in page.canonical_url %}Settings{% else %}Paramètres{% endif %}</a></li>
                                <li role="separator" class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a href="/repo/logout"> {% if '/en/' in page.canonical_url %}Log Out{% else %}Déconnexion{% endif %} </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Site Metrics -->
                        <li class="nav-item">
                            <a href="{% if '/en/' in page.canonical_url %}/stats/en{% else %}/stats/fr{% endif %}">{% if '/en/' in page.canonical_url %}Site Metrics{% else %}Métriques du site{% endif %}</a>
                        </li>

                        <!-- Help -->
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if '/en/' in page.canonical_url %}Help{% else %}Aide{% endif %}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                            {% if '/en/' in page.canonical_url %}
                            <li class="dropdown-item"><a role="menuitem" href="/docs/en/before_depositing/">Get An Account</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/docs/en/documentation/">Documentation</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/policies/en/">Policies</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="https://www.youtube.com/watch?v=U4Qaia4KZAU&list=PLX9EpizS4A0suoSV2N0nn9parl96xHPkz" target="_blank" rel="noopener noreferrer">Video Tutorials</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/repo/contactus">Contact Us</a></li>
                            {% else %}
                            <li class="dropdown-item"><a role="menuitem" href="/docs/fr/avant_de_déposer/">Obtenez un compte</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/docs/fr/documentation/">Documentation</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/policies/fr/">Politiques</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="https://www.youtube.com/watch?v=U4Qaia4KZAU&list=PLX9EpizS4A0suoSV2N0nn9parl96xHPkz" target="_blank" rel="noopener noreferrer">Tutoriels vidéos</a></li>
                            <li class="dropdown-item"><a role="menuitem" href="/repo/contactus?locale=fr">Contactez nous</a></li>
                            {% endif %}
                            </ul>
                        </li>

                        <!-- About -->
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if '/en/' in page.canonical_url %}About {% else %}À propos{% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                {% if '/en/' in page.canonical_url %}
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-mission">Our mission</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-features">Our features</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-governance">Our governance</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-team">Our team</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-partners">Our partners</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/en/about/#our-journey">Our journey</a></li>
                                {% else %}
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#notre-mission">Notre mission</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#nos-fonctionnalites">Nos fonctionnalités</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#notre-gouvernance">Notre gouvernance</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#notre-equipe">Notre équipe</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#nos-partenaires">Nos partenaires</a></li>
                                <li class="dropdown-item"><a role="menuitem" href="/docs/fr/à_propos/#notre-parcours">Notre parcours</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </header>

        <div class="container row">
            {% if nav|length>1 and not page.meta.hidesidebar %}
            <div class="col-md-3 frdr-sidebar">
                <ul>
                {% for nav_item in nav %}
                    {% if 'En' in nav_item.title and '/en/' in page.canonical_url %}
                        {% for nav_item in nav_item.children %}
                            <li class="{% if nav_item.active%}current{%endif%}">
                                <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                                {% if nav_item.active %}
                                <ul id="current">
                                    {% for toc_item in page.toc %}
                                            <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% for toc_item in toc_item.children %}
                                                <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                                {% for toc_item in toc_item.children %}
                                                    <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                                {% endfor %}
                                            {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                    {% elif 'Fr' in nav_item.title and '/fr/' in page.canonical_url %}
                        {% for nav_item in nav_item.children %}
                            <li class="{% if nav_item.active%}current{%endif%}">
                                <a href="{{ base_url}}/{{ nav_item.url }}">{{ nav_item.title }}</a>
                                {% if nav_item.active %}
                                <ul id="current">
                                    {% for toc_item in page.toc %}
                                            <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                            {% for toc_item in toc_item.children %}
                                                <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                                {% for toc_item in toc_item.children %}
                                                    <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                                                {% endfor %}
                                            {% endfor %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="col-md-3"></div>
            {% endif %}

        <div class="col-md-9">
            <main id="main-content">
                <h1>{{ page.title }}</h1>
                {{ page.content }}
            </main>
        </div>
        </div>

        <div class="site-footer">
            <div class="container">
                <div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                        <section class="region region-footer-first d-block text-center d-lg-flex justify-content-between mt-4 py-lg-2 flex-lg-fill">
                            <h2 class="d-none">Footer First</h2>
                            <nav aria-labelledby="block-site-theme-footer-menu" class="block flex-fill">
                                <h2 id="block-site-theme-footer-menu" class="text-left">{% if '/en/' in page.canonical_url %}Quick Links{% else %}Liens rapides{% endif %}</h2>
                                <div class="clearfix nav row justify-content-start">
                                    <ul class="list-unstyled text-left">
                                        {% if '/en/' in page.canonical_url %}
                                            <li>
                                                <a href="/docs/en/about/">About</a>
                                            </li>
                                            <li>
                                                <a href="/repo/contactus">Contact</a>
                                            </li>
                                            <li>
                                                <a href="/policies/en/privacy/">Privacy Policy</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="/docs/fr/about/">À propos</a>
                                            </li>
                                            <li>
                                                <a href="/repo/contactus?locale=fr">Contactez-nous</a>
                                            </li>
                                            <li>
                                                <a href="/policies/fr/privacy/">Politique de confidentialité</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                        </section>
            
                        <section class="region region-footer-second py-lg-2 justify-content-between mt-lg-4 text-center">
                            <h2 class="d-none">Footer Second</h2>
                            <div class="footer-logo-frame">
                                <img src="/static/images/latest/logos/FRDR_logo_{% if '/en/' in page.canonical_url %}english{% else %}french{% endif %}-first_reversed.svg" alt="Federated Research Data Repository" class="footer-logo frdr-footer-logo">
                            </div>
                        </section>
            
                        <section class="region region-footer-third py-lg-2 justify-content-between mt-lg-5 text-center">
                            <h2 class="d-none">Footer Third</h2>
                            <div class="footer-logo-frame">
                                <img src="/static/images/latest/logos/Alliance_logo_{% if '/en/' in page.canonical_url %}English{% else %}French{% endif %}-first_reversed.png" alt="Digital Research Alliance of Canada" class="footer-logo">
                            </div>
                            <div class="d-flex social-media-buttons justify-content-center">
                                <div>
                                    <a class="social-media-icon d-block d-lg-inline-flex justify-content-center align-items-center" href="https://www.linkedin.com/company/alliancecan/" target="_blank" aria-label="Open link in a new window/tab"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div>
                                    <a class="social-media-icon d-block d-lg-inline-flex justify-content-center align-items-center" href="https://twitter.com/Alliance_Can" target="_blank" aria-label="Open link in a new window/tab"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="footer-bottom">
                    <section class="row region region-footer-fourth">
                        <h2 class="d-none">Footer Fourth</h2>
                        <div class="content mt-2 row">
                            <a href="{% if '/en/' in page.canonical_url %}https://alliancecan.ca/en{% else %}https://alliancecan.ca/fr{% endif %}">
                                <small class="d-block text-center">
                                    © <script>document.write(new Date().getFullYear())</script>
                                    {% if '/en/' in page.canonical_url %}Digital Research Alliance of Canada{% else %}Alliance de recherche numérique du Canada{% endif %}
                                </small>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </body>
<script>
  // Show all demo tagged divs if we are in demo environment
  if (window.location.href.indexOf("demo") != -1) {
    var demodivs = document.getElementsByClassName("demo-text");
    for (i = 0; i < demodivs.length; i++) {
      demodivs[i].style.display = "inline";
    }
  }
</script>
<script>
    $(document).ready(function() {
        if (window.location.href.includes("hidenav")) {
            $("nav").hide();
            $("#content" ).each(function () {
                this.style.setProperty( 'padding-top', '0px', 'important' );
                this.style.setProperty( 'margin-top', '0px', 'important' );
            });
        }

        if (window.location.href.includes("hidesidebar")) {
            $(".frdr-sidebar").hide();
        }

        if (window.location.href.includes("hidefooter")) {
            $(".frdr-jumbo-footer").hide();
        }

        // Always show a way for the user to close the lightbox.
        $(".screenshot-lightbox").click(function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });
    });
</script>
</html>
