 /* to fit the second navigation level we need to move the content down the page a little */
 #content {
    margin-top:80px !important;
}

/* Pseudo element to fix anchors being hidden under navbar */
h2::before, h3::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
    pointer-events: none;
  }

table {
    width: 100%;
}

th, td {
    border: 1px solid #aaaaaa;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
}

.logogroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.half {
    flex: 50%;
    padding: 5px;
    height: 150;
    width: 50%;
}

.endflex {
    align-self: flex-end;
}

.second-level {
    padding-left: 20px;
}

.third-level {
    padding-left: 40px;
}

.screenshot {
    border-color: #424242;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    margin-bottom: 60px;
    max-width: 100%;
    object-fit: cover;
}

.frdr-container {
    display: flex;
}

.frdr-main {
    display: inline-block;
    width: calc(100vw - 368px);
}

.frdr-sidebar {
    display: inline-block;
    width: 348px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
}

ul.toc-doc-page > li {
    margin-bottom: 16px;
}

li.toc-doc-section {
    margin-top: -2px;
    margin-bottom: -2px;
}

ul.toc-doc-section {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 32px;
}

.frdr-sidebar > ul {
    padding-left: 0px;
    padding-top: 0px;
    list-style: none;
    list-style-image: none;
    margin-left: 16px;
    margin-bottom: 16px;
    list-style: none !important;
    list-style-image: none !important;
    list-style-type: none !important;
}

a.frdr-sidebar-link {
    color: #000000;
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

a.frdr-sidebar-link-page {
    font-weight: 700;
}

.toc-collapse-btn:hover,
.toc-collapse-btn:focus {
    border-radius: 8px;
    background-color: var(--alliance-primary-gold);
    color: #ffffff;
}

a.frdr-sidebar-link:hover,
a.frdr-sidebar-link:focus {
    background-color: var(--alliance-primary-gold);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.toc-icon {
    color: var(--alliance-primary-gold);
    font-size: 24px;
    width: 24px;
    height: 24px;
}

/* Make FAQ questions expandable */
summary {
    padding-bottom: 5px;
}
summary > h6 {
    display: inline;
    padding-top: 80px;
    pointer-events: none;
}

summary > p:empty{
    display: none;
}

#main-content h2 {
    border-bottom: 1px solid #dee2e6 !important;
}

h2, h3 {
    pointer-events: none;
}

.expand-all-btn {
    margin-top: -0.5rem;
}

.expand-all-btn::before {
    content: "▼";
    float: left;
    transform: rotate(-90deg);
}

.expand-all-btn.expanded::before {
    transform: rotate(0);
    transition: transform 0.1s ease;
}

p:has(button) {
    margin-bottom: 1rem;
}

h1+ul {
    margin-top: 1rem;
}

.search-match {
    color: red;
}

/**
.jump-to-top {
    width: 40px;
    height: 40px;
    font-size: 3em;
    background-color: var(--alliance-primary-tuatara) !important;
    text: white;
}
**/

.docs-search-result {
    text-decoration: none;
}

.docs-card {
    margin: 18px;
    border-radius: 10px;
}

.docs-card-search {
    background-color: var(--alliance-primary-tuatara);
    color: var(--alliance-gray-200);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.large-headline {
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
}

.docs-headline-icon {
    color: var(--alliance-gray-400);
    width: 33%;
}

#docs-search-button {
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-left-width: 1px;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 61px;
    width: 61px;
}

#docs-search {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    flex: none;
    height: 61px;
    padding: 11px;
    width: 395px;
}

.docs-headline-text {
    width: 66%;
}

#search-results-container {
    color: #495057;
    background-color: #fff;
    top: 66px;
    max-width: calc(100vw - 30px);
    width: 756.8px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: calc(100vh - 100px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media (min-width: 1px) and (max-width: 762px) {
    #docs-search {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1px) and (max-width: 518px) {
    .docs-headline-icon {
        font-size: 3em;
        width: 20%;
    }

    .docs-headline-text {
        width: 80%;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 518px) and (max-width: 1050px) {
    .docs-headline-icon {
        font-size: 8em;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 1050px) {
    .docs-headline-icon {
        font-size: 16em;
    }

    .docs-card-search {
        padding-left: 120px;
        padding-right: 120px;
    }

    .large-headline {
        font-size: 60px;
        line-height: 60px;
    }
}
