 /* to fit the second navigation level we need to move the content down the page a little */
#content {
    padding-top:20px !important;
    margin-top:48px !important;
}

/* Pseudo element to fix anchors being hidden under navbar */
h2::before, h3::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

table {
    width: 100%;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
}

.logogroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.half {
    flex: 50%;
    padding: 5px;
    height: 150;
}

.endflex {
    align-self: flex-end;
}

.second-level {
    padding-left: 20px;
}

.third-level {
    padding-left: 40px;
}

.screenshot {
    border-color: #424242;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    margin-bottom: 60px;
    max-width: 100%;
    object-fit: cover;
}

.frdr-sidebar {
    background-color: #5B5B5B;
    padding-left: 0px;
    padding-right: 0px;
}

.frdr-sidebar > ul {
    padding-left: 0px;
    padding-top: 10px;
    list-style: none;
    list-style-image: none;
}

.frdr-sidebar > ul > li {
    font-size: 16px;
}

.frdr-sidebar > ul > li > a:hover,
.frdr-sidebar > ul > li > a:focus {
    background-color: #e0e0e0;
    color: black;
    text-decoration: underline; 
    
} 

.frdr-sidebar > ul > li:hover {
    background-color: #9B9B9B;
    color: #0A0A0A; 
}

.frdr-sidebar > ul > li > a {
    color: #FFFFFF;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-color: #5b5b5b;
}

.frdr-sidebar > ul > li.current {
  background-color: #FFFFFF;
  border-left-color: #9E9E9E;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-color:#9E9E9E;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.frdr-sidebar > ul > li.current > a {
  color: black;
  background-color: #ffffff;
  border-top-color: #9E9E9E;
  border-top-style: solid;
  border-top-width: 1px;
}

.frdr-sidebar > ul > li.current > a:hover {
  color: #3D92D0;
  background-color: #ffffff;
  text-decoration: underline;
}

.frdr-sidebar > ul > li.current > ul > li {
    list-style: none;
    list-style-image: none;
}

.frdr-sidebar > ul > li.current > ul > li > a {
    color: #000000;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 30px;
}

.frdr-sidebar > ul > li.current > ul > li > a:hover {
    color: #FFFFFF;
    background-color: #5b5b5b;
    text-decoration: underline;
}

.frdr-sidebar > ul > li.current > ul {
    padding-left: 0px;
    background-color: #e0e0e0;
    border-right-color: #9E9E9E;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #9E9E9E;
    border-top-style: solid;
    border-top-width: 1px;
}

.frdr-sidebar > ul > li > a:hover {
    color: black;
    background-color: #e0e0e0;
}

#current {
  border-bottom: 1px solid black;
}
