 /* to fit the second navigation level we need to move the content down the page a little */

body {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

 #content {
    margin-top:80px !important;
}

#main-content > hr {
    margin-top: 32px;
    margin-bottom: 32px;
    border-width: 3px;
    background-color: var(--alliance-primary-gold);
}

#main-content > h1 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;
}

h2 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

h3 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

h4 {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

ol {
    line-height: 22px;
    list-style: none;
    counter-reset: item;
}

ol > li {
    counter-increment: item;
    margin-bottom: 5px;
    position: relative;
}

ol > li:before {
    /** Position digit and circle */
    position: absolute;
    left: -30px;
    margin-right: 10px;
    content: counter(item);
    background: var(--alliance-gray-400);
    border-radius: 100%;
    color: #32322F;
    height: 22.91px;
    width: 22.91px;
    text-align: center;
    display: inline-block;
}


/* Pseudo element to fix anchors being hidden under navbar */
h2::before, h3::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
    pointer-events: none;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #aaaaaa;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
}

.logogroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.half {
    flex: 50%;
    padding: 5px;
    height: 150px;
    width: 50%;
}

.endflex {
    align-self: flex-end;
}

.second-level {
    padding-left: 20px;
}

.third-level {
    padding-left: 40px;
}

.screenshot {
    max-width: 100%;
    object-fit: cover;
    background-color: var(--alliance-gray-400);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    padding-top: 25px;
}

.cell {
    border-right: 1px solid #F0F0F0;
}

.cell-shaded {
    background-color: #f8f9fc;
    border-right: 1px solid #D9DFF0;
}

.frdr-container {
    display: flex;
}

.frdr-main {
    display: inline-block;
    width: calc(100vw - 368px);
    margin-left: 54px;
    margin-right: 54px;
}

.frdr-sidebar {
    display: inline-block;
    width: 348px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
}

.card-group {
    display: flex;
}

.card-group-center {
    justify-content: center;
    gap: 20px;
}

.card-group-first {
    margin-left: auto;
    margin-right: 16px;
}

.card-group-last {
    margin-left: 16px;
    margin-right: auto;
}

.card-title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.card-shadow {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 3px 20px 2px #0000001A;

    width: 300;
    height: 100%;
    angle: 0 deg;
    opacity: 1;
    border-radius: 12px;
}

.card-dark {
    background-color: var(--alliance-gray-200);
    border-radius: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

ul.toc-doc-page > li {
    margin-bottom: 16px;
}

li.toc-doc-section {
    margin-top: -2px;
    margin-bottom: -2px;
}

ul.toc-doc-section {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 32px;
}

.frdr-sidebar > ul {
    padding-left: 0px;
    padding-top: 0px;
    list-style: none;
    list-style-image: none;
    margin-left: 16px;
    margin-bottom: 16px;
    list-style: none !important;
    list-style-image: none !important;
    list-style-type: none !important;
}

a.frdr-sidebar-link {
    color: #32322F;
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

a.frdr-sidebar-link-page {
    font-weight: 700;
}

.toc-collapse-btn:hover,
.toc-collapse-btn:focus {
    border-radius: 8px;
    background-color: var(--alliance-primary-gold);
    color: #ffffff;
}

.carousel-container {
    display: inline-flex;
    margin-left: -54px;
    margin-right: -54px;
}

ul.carousel-circles {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    position: relative;
}

ul.carousel-indicators > li {
    height: 22.91px;
    width: 22.91px;
    background: var(--alliance-gray-400);
    border-radius: 100%;
    border-bottom: 0px;
    border-top: 0px;
}

ul.carousel-indicators > li.active {
    background: var(--alliance-primary-gold);
}

.carousel-btn-container {
     width: 52px;
     margin-top: auto;
     margin-bottom: auto;
}

a.carousel-btn:hover,
a.carousel-btn:focus {
    color: #FFFFFF;
    background-color: var(--alliance-primary-gold);
}

a.carousel-btn {
    background-color: var(--alliance-gray-200);
    color: #32322F;
    display: block;
    width: 48;
    height: 58;
    opacity: 1;
    gap: 10px;
    border-radius: 8px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
}

#carouselDocPages {
}

a.frdr-sidebar-link:hover,
a.frdr-sidebar-link:focus {
    background-color: var(--alliance-primary-gold);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.toc-icon {
    color: var(--alliance-primary-gold);
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-col-static {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0;
}

.card-col-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.card-icon {
    color: #32322F;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.big-button {
    width: 237px;
    height: 59px;
    border-radius: 42px;
    padding-top: 15px;
    padding-right: 34px;
    padding-bottom: 15px;
    padding-left: 34px;

    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

a.faq-question {
    color: rgb(50, 50, 47);
    text-decoration: none;
}

.faq {
    border-bottom: solid 3px rgb(205, 214, 218, 0.25);
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-faq-card {
    border-radius: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
}

.main-faq-tag {
    background-color: var(--alliance-primary-gold);
    display: inline;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 148%;
    text-transform: uppercase;
    gap: 10px;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 17px;
    padding-left: 17px;
}

.main-faq-title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 45px;
    line-height: 115.99999999999999%;
    text-decoration: none;
}

.main-faq-subtitle {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 115.99999999999999%;
    margin-top: auto;
    margin-bottom: auto;
}

.main-faq-icon {
    width: 52.78px;
    height: 52.78px;
    background-color: #181818;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    padding-top: 12px;
    margin-right: 16px;
}

a.main-faq-link {
    color: #181818;
    text-decoration: none;
}

a.main-faq-link:focus,
a.main-faq-link:hover {
    color: var(--alliance-primary-gold);
    text-decoration: underline;
}

.carousel-container {
    display: inline-flex;
    margin-left: -54px;
    margin-right: -54px;
}

ol.carousel-circles {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    position: relative;
}

ol.carousel-circles > .active {
    color: var(--alliance-primary-gold);
}

.carousel-btn-container {
     width: 52px;
     margin-top: auto;
     margin-bottom: auto;
}

a.carousel-btn:hover,
a.carousel-btn:focus {
    color: #FFFFFF;
    background-color: var(--alliance-primary-gold);
}

a.carousel-btn {
    background-color: var(--alliance-gray-200);
    color: #32322F;
    display: block;
    width: 48;
    height: 58;
    opacity: 1;
    gap: 10px;
    border-radius: 8px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
}

#carouselDocPages {
}

a.frdr-sidebar-link:hover,
a.frdr-sidebar-link:focus {
    background-color: var(--alliance-primary-gold);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.toc-icon {
    color: var(--alliance-primary-gold);
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-col-static {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0;
}

.card-col-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.card-icon {
    color: #32322F;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.big-button {
    width: 237px;
    height: 59px;
    border-radius: 42px;
    padding-top: 15px;
    padding-right: 34px;
    padding-bottom: 15px;
    padding-left: 34px;

    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

.fake-browser {
    position: absolute;
}

.fake-controls {
    padding-left: 16px;
    padding-right: 16px;
}

.mac-close {
    color: red;
    margin-left: 4px;
    margin-right: 4px;
}

.mac-maximize {
    color: green;
    margin-left: 4px;
    margin-right: 4px;
}

.mac-minimize {
    color: var(--alliance-primary-gold);
    margin-left: 4px;
    margin-right: 4px;
}

.main-faq-card {
    border-radius: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
}

.main-faq-tag {
    background-color: var(--alliance-primary-gold);
    display: inline;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 148%;
    text-transform: uppercase;
    gap: 10px;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 17px;
    padding-left: 17px;
}

a.main-faq-title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 45px;
    line-height: 115.99999999999999%;
    text-decoration: none;
}

.main-faq-subtitle {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
    line-height: 115.99999999999999%;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.main-faq-icon {
    width: 52.78px;
    height: 52.78px;
    background-color: #181818;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    padding-top: 12px;
    margin-right: 16px;
}

a.main-faq-link {
    color: #181818;
    text-decoration: none;
}

a.main-faq-link:focus,
a.main-faq-link:hover {
    color: var(--alliance-primary-gold);
    text-decoration: none;
}


.main-faq-arrow {
    margin-top: auto;
    margin-left: 8px;
    text-decoration: none;
}

/* Make FAQ questions expandable */
summary {
    padding-bottom: 5px;
}
summary > h3 {
    display: inline;
    padding-top: 80px;
    pointer-events: none;
}

summary > p:empty{
    display: none;
}

h2, h3 {
    pointer-events: none;
}

.expand-all-btn {
    margin-top: -0.5rem;
}

.expand-all-btn::before {
    content: "▼";
    float: left;
    transform: rotate(-90deg);
}

.expand-all-btn.expanded::before {
    transform: rotate(0);
    transition: transform 0.1s ease;
}

p:has(button) {
    margin-bottom: 1rem;
}

h1+ul {
    margin-top: 1rem;
}

.search-match {
    color: red;
}

/**
.jump-to-top {
    width: 40px;
    height: 40px;
    font-size: 3em;
    background-color: var(--alliance-primary-tuatara) !important;
    text: white;
}
**/

.docs-search-result {
    text-decoration: none;
}

.docs-card {
    margin: 18px;
    border-radius: 10px;
}


.docs-card-search {
    background-color: var(--alliance-primary-tuatara);
    color: var(--alliance-gray-200);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.code-panel {
    background-color: #F0F0F0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.dark-header {
    gap: 1px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #32322F;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.code-body {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
}

.large-headline {
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
}

.docs-headline-icon {
    color: var(--alliance-gray-400);
    width: 33%;
}

#docs-search-button {
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-left-width: 1px;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 61px;
    width: 61px;
}

#docs-search {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    flex: none;
    height: 61px;
    padding: 11px;
    width: 395px;
}

.docs-headline-text {
    width: 66%;
}

#search-results-container {
    color: #495057;
    background-color: #fff;
    top: 66px;
    max-width: calc(100vw - 30px);
    width: 756.8px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: calc(100vh - 100px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media (min-width: 1px) and (max-width: 762px) {
    .frdr-container {
        display: block;
    }

    .frdr-sidebar {
        width: 100%;
    }

    .frdr-main {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .carousel-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    /** Give a set height so it doesn't bounce content up and down below **/
    .docs-page-card {
        height: 256px;
    }

    #docs-search {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1px) and (max-width: 518px) {
    .docs-headline-icon {
        font-size: 3em;
        width: 20%;
    }

    .docs-headline-text {
        width: 80%;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 518px) and (max-width: 1050px) {
    .docs-headline-icon {
        font-size: 8em;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 1050px) {
    .docs-headline-icon {
        font-size: 16em;
    }

    .docs-card-search {
        padding-left: 120px;
        padding-right: 120px;
    }

    .large-headline {
        font-size: 60px;
        line-height: 60px;
    }
}
    text-decoration: none;
}


.main-faq-arrow {
    margin-top: auto;
    margin-left: 8px;
    text-decoration: none;
}

/* Make FAQ questions expandable */
summary {
    padding-bottom: 5px;
}
summary > h6 {
    display: inline;
    padding-top: 80px;
    pointer-events: none;
}

summary > p:empty{
    display: none;
}

h2, h3 {
    pointer-events: none;
}

.expand-all-btn {
    margin-top: -0.5rem;
}

.expand-all-btn::before {
    content: "▼";
    float: left;
    transform: rotate(-90deg);
}

.expand-all-btn.expanded::before {
    transform: rotate(0);
    transition: transform 0.1s ease;
}

p:has(button) {
    margin-bottom: 1rem;
}

h1+ul {
    margin-top: 1rem;
}

.search-match {
    color: red;
}

/**
.jump-to-top {
    width: 40px;
    height: 40px;
    font-size: 3em;
    background-color: var(--alliance-primary-tuatara) !important;
    text: white;
}
**/

.docs-search-result {
    text-decoration: none;
}

.docs-card {
    margin: 18px;
    border-radius: 10px;
}


.docs-card-search {
    background-color: var(--alliance-primary-tuatara);
    color: var(--alliance-gray-200);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.large-headline {
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
}

.docs-headline-icon {
    color: var(--alliance-gray-400);
    width: 33%;
}

#docs-search-button {
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-left-width: 1px;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 61px;
    width: 61px;
}

#docs-search {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    flex: none;
    height: 61px;
    padding: 11px;
    width: 395px;
}

.docs-headline-text {
    width: 66%;
}

#search-results-container {
    color: #495057;
    background-color: #fff;
    top: 66px;
    max-width: calc(100vw - 30px);
    width: 756.8px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: calc(100vh - 100px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

i.feedback-icon {
    color: var(--alliance-primary-tuatara);
    margin-right: 8px;
    line-height: 20.5px;
}

i.feedback-icon:focus,
i.feedback-icon:hover {
    color: var(--alliance-primary-gold);
    margin-right: 8px;
    line-height: 20.5px;
}

.helpful {
    color: green;
}

.helpful:hover {
    color: var(--alliance-primary-gold);
}

.helpful.active, .not-helpful.active {
    background-color: var(--alliance-primary-gold);
    border-radius: 8px;
    color: var(--alliance-primary-tuatara);
}

.helpful.active:hover, .not-helpful.active:hover {
    background-color: var(--alliance-primary-tuatara);
    border-radius: 8px;
    color: var(--alliance-primary-gold);
}

.not-helpful {
    color: red;
}

.not-helpful:hover {
    color: var(--alliance-primary-gold);
}

.partner-img {
    max-width: 380px;
}

@media (min-width: 1px) and (max-width: 762px) {
    .frdr-container {
        display: block;
    }

    .frdr-sidebar {
        width: 100%;
    }

    .frdr-main {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .carousel-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    /** Give a set height so it doesn't bounce content up and down below **/
    .docs-page-card {
        height: 256px;
    }

    #docs-search {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1px) and (max-width: 518px) {
    .docs-headline-icon {
        font-size: 3em;
        width: 20%;
    }

    .docs-headline-text {
        width: 80%;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 518px) and (max-width: 1050px) {
    .docs-headline-icon {
        font-size: 8em;
    }

    .docs-card-search {
        padding-left: 12px;
        padding-right: 12px;
    }

    .large-headline {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 1050px) {
    .docs-headline-icon {
        font-size: 16em;
    }

    .docs-card-search {
        padding-left: 120px;
        padding-right: 120px;
    }

    .large-headline {
        font-size: 60px;
        line-height: 60px;
    }
}
