.navbar-collapse {
    border-color: #dcdcdc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #64B635;
    max-height: 390px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active {
    color: #424242 !important;
    background-color: #ffffff;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    border-color: #e0e0e0;
    background-color: #f0f0f0;
    color: #333333 !important;
    border-radius: 0px;
    border: none;
}

.navbar-nav > li > a {
  -moz-box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 4px;
    padding: 8px 15px;
}

.navbar-nav .dropdown-menu-selected,
.navbar-nav .dropdown-menu-selected:hover {
    background: none repeat scroll 0 0 #2882bb !important;
    border: 1px solid #EAEAEA !important;
    color: #FFFFFF !important;
    cursor: text !important;
}

.navbar {
    border-color: #424242;
}

.navbar-nav {
    color: #999999 !important;
    font-weight: 300;
    line-height: 23px;
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav > a {
    color: #999999 !important;
}

.navbar-header > a{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-nav > .active > a {
    background-color: #01FF00;
    color: #FF0001;
}

.navbar-nav > li > a:hover {
    background: none repeat scroll 0 0 #2882bb;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-brand,
.navbar-nav > li > a {
    color: #999999;
    font-weight: 300;
    line-height: 23px;
    font-size:15px;
    border: none;
}

.navbar-inverse {
    background-color: #424242;
    border-color: #424242;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top:4px solid #2191C5;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top:4px solid #f0f0f0;
}

.navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: 400;
    line-height: 23px;
    font-size: 24px;
    letter-spacing: 2px;
    border:none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FAFAFA;
    font-weight: 300;
    line-height: 23px;
    font-size: 15px;
    border:none;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

.navbar-highlight {color:#2191C5}

/* colors for mobile menu */
@media only screen and (max-width : 768px) {
  .navbar-collapse li a { color:black ; background-color: white; }
  .navbar-collapse li a:hover { background-color: white; }
  .navbar-nav > li > a:hover { background-color: white; }
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:active {  color: #2191C5 !important; background-color: white;}
  #navbar-collapse-1 > ul { margin-top: 0px; margin-bottom: 0px;}
  #navbar-collapse-1 > ul >li > a { border-radius: 0px; margin:0px; color:#424242;}
  #navbar-collapse-1 > ul >li > ul { padding: 0px; }
  #navbar-collapse-1 > ul >li > ul > li > a:hover { border-radius: 0px; margin:0px; color:#2191C5 !important;}
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus { background-color: white; }
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: white; }
  .navbar-inverse .navbar-nav > .dropdown > a .caret { border-top: 4px solid #424242; }
  #sitelogo {height: 110px; margin-right:-10px;}
  #jumbo-mid-logo {height: 110px;}
  #jumbo-mid-tagline { font-size: 24px; margin-top: 150px; margin-left:-10px;}
  .frdr-jumbo-mid { min-height: 270px; }
}

@media only screen and (max-width : 500px) {
  .navbar-inverse .navbar-brand { font-size: 15px; }
  #sitelogo {height: 100px; margin-right:-35px;}
  #jumbo-mid-tagline { font-size: 22px; margin-top: 150px; margin-left:-20px;}
  .frdr-jumbo-mid { min-height: 240px; }
}
